@mixin font($fontname, $filename) {
  @font-face {
    font-family: $fontname;
    src: url(#{'../fonts/'+$filename+'.eot'});
    src:
      url(#{'../fonts/'+$filename+'.eot?#iefix'}) format("embedded-opentype"),
      url(#{'../fonts/'+$filename+'.woff'}) format("woff"),
      url(#{'../fonts/'+$filename+'.svg'}) format("svg"),
      url(#{'../fonts/'+$filename+'.ttf'}) format("truetype");
    font-style: normal;
    font-weight: normal;
  }
}
* {
  font-family: 'Ubuntu', sans-serif;
}
p {
  font-size: 14px;
}
a:not([class]) {
  color: #00f;
  &:hover {
    color: darken(#00f, 10%);
  }
}
%text {
  font-size: 13px;
  color: #999;
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 1.8rem;
      color: #333;
      margin-top: .5em;
      margin-bottom: .5em;
    }
  }
  a {
    color: #00f;
    &:hover {
      text-decoration: none;
      color: darken(#00f, 10%);
    }
  }
  strong,
  b,
  th {
    font-weight: 700;
  }
  em,
  i {
    font-style: italic;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    border: 1px solid #999;
    padding: 5px;
  }
  th {
    color: #00f;
    text-align: center;
  }
  p,
  table,
  ul,
  ol {
    margin-top: .5em;
    margin-bottom: .5em;
    line-height: 20px / 13px * 100%;
  }
  ul {
    list-style-type: disc;
  }
  img {
    display: block;
    margin: 1.5em auto;
    max-width: 100%;
    height: auto;
  }
  ul,
  ol {
    padding-left: 1.5em;
  }
  iframe {
    max-width: 100%;
    display: block;
    margin: 30px auto;
  }
}
