@mixin res($size) {
  @media only screen and (max-width: $size + px) {
    @content;
  }
}

@mixin min-res($size) {
  @media only screen and (min-width: $size + px) {
    @content;
  }
}

@mixin response-range($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max){
    @content;
  }
}

@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
    @content;
  }
}

@mixin desktop-hover() {
  @media only screen and (min-width: 1025px) {
    &:hover {
      @content;
    }
  }
}

@mixin desktop-properties() {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}


@mixin bordered($size: 1px, $bgc: #000) {
  > .border-3,
  > .border-1 {
    height: $size;
    background-color: $bgc;
  }
  > .border-4,
  > .border-2 {
    width: $size;
    background-color: $bgc;
  }
}

@mixin triangle($direction : down, $size: 10px, $color: $black) {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  @if ($direction == 'up') {
    border-bottom: $size solid $color;
    border-left: 1/1.2 * $size solid transparent;
    border-right: 1/1.2 * $size solid transparent;
  }
  @else if ($direction == 'down') {
    border-top: $size solid $color;
    border-left: 1/1.2 * $size solid transparent;
    border-right: 1/1.2 * $size solid transparent;
  }
  @else if ($direction == 'left') {
    border-top: 1/1.2 * $size solid transparent;
    border-bottom: 1/1.2 * $size solid transparent;
    border-right: $size solid $color;
  }
  @else if ($direction == 'right') {
    border-top: 1/1.2 * $size solid transparent;
    border-bottom: 1/1.2 * $size solid transparent;
    border-left: $size solid $color;
  }
}

@mixin textOverflow($overflow: ellipsis){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow;
}

@mixin clearfix {
	content: '';
	display: table;
	clear: both;
}

@mixin flex($row: row, $wrap: wrap, $justify: center, $align: center){
  display: flex;
  flex-direction: $row;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin bg($imgpath,$position:center center,$repeat: no-repeat, $cover: cover) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size: $cover;
    }
}

@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin font($font: false, $size: false, $color: false, $ls: false, $weight: false,  $lh: false) {
    @if $font == com { font-family: 'Comfortaa', cursive; }
    @if $size { font-size: $size + px; }
    @if $color { color: $color; }
    @if $ls {letter-spacing: $ls + em}
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh + px; }
}
